@font-face {
    font-family: "Norse";
    src: url(fonts/Norse-Bold.otf);
}

:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --outline: #a2a2a2;
    --text-color: #f1f0f4;
    --color-invalid: #ff4444;
    --color-focused: #0075be;
    --input-border: #cecece;
    --background: #eeeeee;
    --button-background: #192428;
    --button-background-lighter: #2e4249;
    --form-background: #fdfdfd;
    --label-color: #454545;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--background);
}

.background {
    width: clamp(500px, 30vw, 1000px);
    background-image: url(images/jelly.jpg);
    background-size: 100% 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30%;
    padding: 2rem 0;
    width: 100%;
}

.logo-text {
    font-size: 6rem;
    font-family: 'Norse', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5rem;
    color: var(--text-color);
}

.logo-text::before {
    content: url(images/white.svg);
    position: absolute;
    left: 20px;
    top: 14%;
}

.background>p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.background>p>a{
    color: var(--text-color);
}

.background>p>a:hover{
    text-decoration: none;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.text {
    flex: 0;
    width: 60%;
    margin: 10% 0 5% 5rem;
    margin-left: 5rem;
}

.text > h2{
    font-size: 2rem;
    margin-top: 0.5rem;
}

.text > p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

.form {
    flex: 2;
}

.form>form>ul {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--form-background);
    box-shadow: 0 20px 20px -20px var(--outline);
    list-style: none;
}

.form>form>ul>li {
    width: 70%;
    margin-left: 5rem;
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 2rem 10% 0 0;
}

.item>label{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--label-color);
}

.item>input {
    font-size: 1.5rem;
    width: 400px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

input:focus {
    border-color: var(--color-focused);
    box-shadow: 0 0 5px var(--outline);
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--color-invalid);
    box-shadow: 0 0 5px var(--outline);
}

.button {
    margin: 3rem 5rem;
}

.button>button {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 4rem;
    margin-bottom: 1.5rem;
    background-color: var(--button-background);
    border: 0;
    color: var(--text-color);
    border-radius: 10px;
}

.button>button:hover {
    background-color: var(--button-background-lighter);
}

.login{
    font-size: 1.5rem;
}

.login > span{
    cursor: pointer;
    color: var(--button-background);
}