@font-face {
    font-family: "Norse";
    src: url(fonts/Norse-Bold.otf);
}

:root{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --color-invalid: #ff4444;
    --input-border: #333333;
    --focused: #0075be;
    --form-background: #eeeeee;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

body{
    height: 100vh;
    display: flex;
}

.background{
    width: clamp(500px,30vw,1000px);
    background-image: url(images/jelly.jpg);
    background-size: 100% 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30%;
    padding: 2rem 0;
    width: 100%;
}

.logo-text{
    font-size: 6rem;
    font-family:'Norse', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5rem;
    color: white;
}

.logo-text::before{
    content: url(images/white.svg);
    color: white;
    position: absolute;
    left: 20px;
    top: 14%;
}

.background > p{
    color: white;
}

.container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
}

.text{
    flex: 1;
    width: 70%;
    margin-left: 5rem;
}

.form{
    flex: 2;
}

.form > form > ul{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--form-background);
    box-shadow: 0 20px 20px #afafaf;
    list-style: none;
}

.form > form > ul >li{
    width: 70%;
    margin-left: 5rem;
    display: flex;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 0 0;
}

.item > input{
    font-size: 1.5rem;
    width: 400px;
    padding:0.5rem 1rem;
    border: 2px solid var(--input-border);
    border-radius: 10px;
}

input:focus{
    border-color: var(--focused);
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--color-invalid);
}

.button{
    margin-left: 5rem;
}

.button > button{
    font-size: 2.5rem;
    padding: 1rem;
}
